_templates
.git*
.vscode
coverage
dist
node_modules
temp
.commitlintrc.json
.env*
.eslint*
.huskyrc
.lintstagedrc
.npm*
.prettier*
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
docker-compose*
Dockerfile*
LICENSE
ormconfig.json
README.md
