{
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/standard",
    "plugin:jest/recommended",
    "plugin:sonarjs/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true,
      "jsx": false
    },
    "ecmaVersion": 6,
    "project": "./tsconfig.eslint.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "sonarjs"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/camelcase": ["error", { "allow": [
      "album_id",
      "artist_full_name",
      "artist_id",
      "artists_ids",
      "auth_date",
      "callback_query",
      "created_at",
      "download_count",
      "downloads_count",
      "e_tag",
      "expire_at",
      "file_key",
      "first_name",
      "followers_count",
      "full_name",
      "function_score",
      "has_cover",
      "has_video",
      "is_blocked",
      "is_bot",
      "language_code",
      "last_name",
      "max_audio_rate",
      "mime_type",
      "multi_match",
      "must_not",
      "owner_user_id",
      "photo_id",
      "photo_url",
      "private_key",
      "public_key",
      "registered_date",
      "release_date",
      "script_score",
      "song_id",
      "songs_ids",
      "telegram_id",
      "tracks_count",
      "unique_name",
      "update_id",
      "user_id"
    ]}],
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "sonarjs/no-identical-functions": "warn",
    "sort-imports":"error",
    "sort-keys":"error",
    "sort-vars":"error"
  }
}
